
@{
    ViewBag.Title = "IncorrectLogin";
}

<br />
<br />
<h2>Autenticazione non riuscita</h2>
<p>

</p>
<b><font color="red">Errore : @ViewBag.Messaggio </font></b>
<br />
<p></p>
@Html.ActionLink("Torna alla pagina di Login", "Index")

